* {
    margin: 0;
    box-sizing: border-box;
}

.container {
    position: absolute;
    background-color: aqua;
    border: 1px solid green;
    margin: 10px;
}

.header-bar {
    float: left;
    background-color: bisque;
    width: 20%;
    height: 85px;
    padding: 10px;
}

.content {
    display: inline-block;
    right: 0;
    background-color: gray;
    width: 80%;
    min-width: 200px;
}

img {
    width: 30%;
    float: right;
}

.text2 {
    clear: both;
}