* {
    margin: 0;
    box-sizing: border-box;
}

.container {
    background-color: aqua;
    border: 1px solid green;
}

.header-bar {
    float: left;
    background-color: bisque;
    width: 200px;
    height: 85px;
    margin-right: 10px;
    padding: 10px;
}

.content {
    display: inline-block;
    background-color: gray;
    width: calc(100vw - 220px);
    min-width: 200px;
}

