* {
    box-sizing: border-box;
    color: white;
}

img {
    float: right;
    margin-bottom: 10px;
    margin-left: 20px;
}

.content {
    width: 600px;
    margin: 0 auto;
    background-color: blue;
}